@charset "utf-8";
@import './reset.css';

@font-face {
    font-family : 'NotoSansCJKkr';
    src : url('../font/NotoSansCJKkr-Bold.eot') format('eot'),
        /* url('../font/NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'), */
        url('../font/NotoSansCJKkr-Bold.woff') format('woff'),
        url('../font/NotoSansCJKkr-Bold.ttf') format('truetype');
    font-weight : 900;
    unicode-range : U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
@font-face {
    font-family : 'NotoSansCJKkr';
    src : url('../font/NotoSansCJKkr-Medium.eot') format('eot');
    src :
        /* url('../font/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'), */
        url('../font/NotoSansCJKkr-Medium.woff') format('woff'),
        url('../font/NotoSansCJKkr-Medium.ttf') format('truetype');
    font-weight : 700;
    unicode-range : U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
@font-face {
    font-family : 'NotoSansCJKkr';
    src : url('../font/NotoSansCJKkr-Regular.eot') format('eot');
    src :
        /* url('../font/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'), */
        url('../font/NotoSansCJKkr-Regular.woff') format('woff'),
        url('../font/NotoSansCJKkr-Regular.ttf') format('truetype');
    font-weight : 500;
    unicode-range : U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}
@font-face {
    font-family : 'NotoSansCJKkr';
    src : url('../font/NotoSansCJKkr-DemiLight.eot') format('eot');
    src :
        /* url('../font/NotoSansCJKkr-DemiLight.eot?#iefix') format('embedded-opentype'), */
        url('../font/NotoSansCJKkr-DemiLight.woff') format('woff'),
        url('../font/NotoSansCJKkr-DemiLight.ttf') format('truetype');
    font-weight : 300;
    unicode-range : U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}

body{
    overflow:hidden;
}
#wrap *{
    box-sizing:border-box;
    font-family:'NotoSansCJKkr', sans-serif;
    letter-spacing:-1px;
}

/*--- COMMON ---*/
.clear_fix::after{
    display:block;
    content:'';
    clear:both;
}

/*--- HEADER ---*/
.header_box{
    /* border-bottom:solid 1px #fafafa; */
}
.header{
    max-width:1628px;
    margin:0 auto;
    padding:16px 0;
}
.logo_box{
    float:left;
    width:25%;
}
.logo_box img{
    display:block;
    width:100%;
    max-width:184px;
}
.gnb{
    float:left;
    width:50%;
    text-align:center;
}
.gnb li{
    display:inline-block;
    margin-right:4%;
}
.gnb li:last-child{
    margin-right:0;
}
.gnb li a{
    display:inline-block;
    font-weight:900;
    font-size:20px;
    padding:16px 0;
}
.gnb li a:hover{
    color:#aaa;
}
.util_box{
    position:relative;
    float:right;
    width:25%;
}
.util_box input{
    float:right;
    display:block;
    width:60%;
    padding:4px 10px 7px;
    margin:12px 0 0;
    border-bottom:solid 1px #eee;
}
.util_box button{
    float:right;
    display:block;
    width:100%;
    max-width:74px;
    font-size:18px;
    font-weight:900;
    color:#fff;
    text-align:center;
    line-height:150%;
    padding:1px 0;
    margin:12px 0 0;
    background:#f05a21;
    border-radius:2px;
}
.util_box .my_btn{
    position:absolute;
    z-index:99;
}
.util_box button.search{
    width: 30px;
    height: 30px;
    margin-right: 23%;
    background:url('../img/btn_search.png') no-repeat 50% 50%;
}
.util_box > div{
    position: absolute;
    right: 0;
    width: 35%;
    max-width: 74px;
    min-height: 55px;
}
.util_box > div.active{
    height:552px;
}
.my_menu{
    display:none;
    position: absolute;
    width: 100%;
    padding-top: 26px;
    margin-top: 14px;
    background:#fff;
    border: solid 1px #ff530d;
    border-top: 0;
    border-radius: 12px;
    z-index: 9;
}
.util_box > div.active .my_menu{
    display:block;
}
.my_menu li{}
.my_menu li a{
    display: block;
    text-align: center;
    padding: 18px 0;
    width: 80%;
    margin: 0 auto;
    border-bottom: solid 1px #ff530d;
}
.util_box > div.active .my_menu li a:hover{
    opacity:0.8;
}
.my_menu li a.line{
    border:0;
}
.my_icon_box{
    display: block;
    width: 70%;
    margin: 0 auto 6px;
}
.my_icon_box img {
    display: block;
    width: 100%;
}
.my_menu li a p{
    font-size: 12px;
    font-weight: 900;
    color: #f05a21;
    letter-spacing:-2px;
}
/*--- HEADER END ---*/

/*--- CONTENTS ---*/
.contents{
    overflow-y:scroll;
    height: calc(100vh - 85px);
}
/*--- CONTENTS END---*/

/*--- FOOTER ---*/
.footer{
    padding:40px 0 60px;
    background:#f3f3f3;
}
.footer div{
    text-align:center;
    padding-bottom:20px;
}
.footer div a{
    display:inline-block;
    font-size:16px;
    color:#555;
    padding:0 10px;
    border-right:solid 1px #555;
}
.footer div a:last-child{
    border-right:none;
}
.footer div p{
    display:inline-block;
    padding:0 10px;
}
.address{
    border-right:solid 1px #555;
}
.footer div a:hover{
    font-weight:900;
    color:#333
}
/*--- FOOTER END ---*/